.DS_Store
src/github.com/*
src/sourcegraph.com/*
src/gopcp.v2/*
src/golang.org/*
bin/*
pkg/*
/src/*/vendor/*/
src/google.golang.org/*
src/rpc_ts/logs/*
src/logs_demo/logs/rpc_ts.log
*-server/
.idea
src/sy*